---
import imgRemodelaciones from "@imgRemodelaciones/Remodelaciones.webp"
const obra_gris=[
    "Pañetes y alistados de pisos",
    "Alistados de pisos",
    "Mamposteria",
    "Armado de cubiertas"
];
const obra_blanca=[
    "Instalación de puertas y ventanas",
    "Pinturas interiores y exteriores",
    "Instalacion de revestimientos y muros",
    "Recubrimientos para muros",
    "Trabajos de herreria y carpinteria",
    "Instalacion de iluminación LED de ultima texnologia y lamparas LED"
];
---
<section class="main_content flex flex-col gap-2 mx-auto px-1 mt-5 w-10/12 lg:w-8/12 max-w-4xl">
    <div class="subtitle">
        <h2 class="text-slate-300 text-pretty text-center">Realizamos todo tipo de</h2>
        <div class="separador bg-slate-300 h-0.5 "></div>
        <h3 class="text-slate-300 text-pretty text-center">Obra civil y acabados</h3>
    </div>
    <div class="mt-2 flex flex-col w-auto">
        <p class="">Remodelaciones</p>
        <div class="w-36 h-0.5 bg-slate-300"></div>
    </div>
    <figure class="rounded-2xl justify-end relative my-1 lg:my-3 flex flex-col aspect-4/3 w-2/3 mx-auto">
        <img class="absolute top-0 right-0 rounded-2xl w-full aspect-4/3 object-cover object-center z-0" src={imgRemodelaciones.src} alt="">
        <figcaption class="mx-auto z-20 mb-16 md:mb-32 text-lg md:text-2xl font-medium md:font-semibold">Remodelaciones</figcaption>
    </figure>
    <!-- OBRA GRIS -->
    <div class="mt-2 flex flex-col w-auto">
        <p class="">Obra Gris</p>
        <div class="w-24 h-0.5 bg-slate-300"></div>
    </div>
    <article class="grid gap-2 md:gap-5 grid-rows-2 grid-cols-2">
        <figure class="card_obra_gris rounded-xl justify-center place-items-center relative flex aspect-4/3 w-full mx-auto p-4">
            <img class="absolute top-0 right-0 rounded-2xl w-full aspect-4/3 object-cover object-center z-0" src={imgRemodelaciones.src} alt="">
            <figcaption class="m-auto text-center z-20 text-lg font-medium md:font-semibold">{obra_gris[0]}</figcaption>
        </figure>
        <figure class="card_obra_gris rounded-xl justify-center place-items-center relative flex aspect-4/3 w-full mx-auto">
            <img class="absolute top-0 right-0 rounded-2xl w-full aspect-4/3 object-cover object-center z-0" src={imgRemodelaciones.src} alt="">
            <figcaption class="m-auto text-center z-20 text-lg font-medium md:font-semibold">{obra_gris[1]}</figcaption>
        </figure>
        <figure class="card_obra_gris rounded-xl justify-center place-items-center relative flex aspect-4/3 w-full mx-auto">
            <img class="absolute top-0 right-0 rounded-2xl w-full aspect-4/3 object-cover object-center z-0" src={imgRemodelaciones.src} alt="">
            <figcaption class="m-auto text-center z-20 text-lg font-medium md:font-semibold">{obra_gris[2]}</figcaption>
        </figure>
        <figure class="card_obra_gris rounded-xl justify-center place-items-center relative flex aspect-4/3 w-full mx-auto">
            <img class="absolute top-0 right-0 rounded-2xl w-full aspect-4/3 object-cover object-center z-0" src={imgRemodelaciones.src} alt="">
            <figcaption class="m-auto text-center z-20 text-lg font-medium md:font-semibold">{obra_gris[3]}</figcaption>
        </figure>
    </article>
    <!-- OBRA Blanca y acabados -->
    <div class="mt-2 mb-4 flex flex-col w-auto">
        <p class="">Obra Blanca y acabados</p>
        <div class="w-48 h-0.5 bg-slate-300"></div>
    </div>
    <article class="grid gap-2 md:gap-5 grid-rows-2 grid-cols-2">
        <figure class="obra_blanca rounded-xl justify-center place-items-center relative flex aspect-4/3 w-full mx-auto px-5">
            <img class="absolute top-0 right-0 rounded-2xl w-full aspect-4/3 object-cover object-center z-0" src={imgRemodelaciones.src} alt="">
            <figcaption class="m-auto text-center z-20 text-base sm:text-lg font-medium md:font-semibold">{obra_blanca[0]}</figcaption>
        </figure>
        <figure class="obra_blanca rounded-xl justify-center place-items-center relative flex aspect-4/3 w-full mx-auto px-5">
            <img class="absolute top-0 right-0 rounded-2xl w-full aspect-4/3 object-cover object-center z-0" src={imgRemodelaciones.src} alt="">
            <figcaption class="m-auto text-center z-20 text-base sm:text-lg font-medium md:font-semibold">{obra_blanca[1]}</figcaption>
        </figure>
        <figure class="obra_blanca rounded-xl justify-center place-items-center relative flex aspect-4/3 w-full mx-auto px-5">
            <img class="absolute top-0 right-0 rounded-2xl w-full aspect-4/3 object-cover object-center z-0" src={imgRemodelaciones.src} alt="">
            <figcaption class="m-auto text-center z-20 text-base sm:text-lg font-medium md:font-semibold">{obra_blanca[2]}</figcaption>
        </figure>
        <figure class="obra_blanca rounded-xl justify-center place-items-center relative flex aspect-4/3 w-full mx-auto px-5">
            <img class="absolute top-0 right-0 rounded-2xl w-full aspect-4/3 object-cover object-center z-0" src={imgRemodelaciones.src} alt="">
            <figcaption class="m-auto text-center z-20 text-base sm:text-lg font-medium md:font-semibold">{obra_blanca[3]}</figcaption>
        </figure>
        <figure class="obra_blanca rounded-xl justify-center place-items-center relative flex aspect-4/3 w-full mx-auto px-5">
            <img class="absolute top-0 right-0 rounded-2xl w-full aspect-4/3 object-cover object-center z-0" src={imgRemodelaciones.src} alt="">
            <figcaption class="m-auto text-center z-20 text-base sm:text-lg font-medium md:font-semibold">{obra_blanca[4]}</figcaption>
        </figure>
        <figure class="obra_blanca rounded-xl justify-center place-items-center relative flex aspect-4/3 w-full mx-auto sm:px-5">
            <img class="absolute top-0 right-0 rounded-2xl w-full aspect-4/3 object-cover object-center z-0" src={imgRemodelaciones.src} alt="">
            <figcaption class="m-auto text-center z-20 text-base sm:text-lg font-medium md:font-semibold">{obra_blanca[5]}</figcaption>
        </figure>
    </article>
</section>

<style>
    section {
        display: flex;
        flex-direction: column;
    }
</style>
